# Project exclude paths
/.gradle/
/Задания/Работа со строками/String contains/build/
/Задания/Работа со строками/String contains/out/
/Задания/Работа со строками/String contains/out/production/classes/
.gradle/
.idea/
gradle/wrapper/gradle-wrapper.jar
build/
out/
.coursecreator/
section-remote-info.yaml
task-remote-info.yaml
course-remote-info.yaml